
.cover {
    height: 500px;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(6,75,156,0) 100%),
                      linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(6,75,156,0) 100%),
                      var(--cover-background);
    background-size: cover;
}

.cover-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cover-content .poster {
    width: 300px;
    height: 450px;
    background-image: var(--poster-background);
    background-size: cover;
    border-radius: 25px;
}

.cover-content .info {
    width: 50%;
    color: white;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover-content .info h1, h6 {
    font-family: var(--main-font);
}

.cover-content .info .overview {
    font-size: 1.25rem;
}

.cover-content .info p {
    font-family: var(--secondary-font);
}

.cover-content .info .sub-info {
    display: flex;
    justify-content: space-between;
}

.cover-content .info .sub-info p, span {
    font-family: var(--main-font-medium);
    font-size: 0.8rem;
    margin-bottom: 0.1em;
}

.cover-content .info .sub-info .genres .genre {
    background-color: var(--main-color);
    text-align: center;
    border-radius: 2.5px;
    padding: 0 5px;
    width: fit-content;
    font-size: 0.8rem;
    transition: 0.2s;
}

.cover-content .info .sub-info .genres .genre:hover {
    background-color: var(--main-color-darker);
}


/* ---Control Box--- */
/* General Styles */
.control-box {
    width: 100%;
    height: 75px;
    padding: 5px;
    background-color: #2a2a2a;
    border-radius: 0 0 20px 20px;
}

.control-box p {
    margin-bottom: 0;
    color: #808080;
    text-align: center;
}

.control-box .options {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Rating Stars Styles */
.control-box .options .rate .stars input {
    margin: 0;
    padding: 0;
    background: none;
}

.control-box .options .rate .stars .rating {
    --dir: right;
    --fill: var(--main-color);
    --fillbg: #808080;
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 40px;
    --value: 0;
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: calc(var(--stars) * var(--starsize));
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}

[dir="rtl"] .control-box .options .rate .stars .rating {
    --dir: left;
}

.control-box .options .rate .stars .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
    -webkit-mask: repeat left center/var(--starsize) var(--star);
}

.control-box .options .rate .stars .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: calc(var(--starsize) / 2);
    -webkit-appearance: none;
}

.control-box .options .rate .stars .rating .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

/* Buttons Styles */
.control-box .options .icon button {
    background-color: transparent;
    border: none;
    color: #808080;
}

.control-box .options .icon button p,
.control-box .options .icon button i {
    transition: 0.2s;
}

.control-box .options .icon button i {
    font-size: 1.5rem;
}

.control-box .options .icon button:hover p, 
.control-box .options .icon button:hover i {
    color: white;
}


/* Color Transition Styles */

/*.control-box .another-checked,
.control-box .checked {
    color: var(--third-color);
    transition: 0.5s;
}

.control-box .checked:hover {
    color: var(--third-color-hover);
}

.control-box .liked-checked {
    color: #ff3939;
    transition: 0.5s;
}

.control-box .liked-checked:hover {
    color: #ff0000;
}*/



/* Options Section Styles */
/*.control-box .options .options .watch,
.control-box .options .options .save {
    position: relative;
}*/

/*.control-box .options .options .watch .log-popup-backdrop,
.control-box .options .options .save .log-popup-backdrop {
    opacity: 0;
    position: unset;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease-in-out;
    z-index: 998;
}

.control-box .options .options .watch .log-popup,
.control-box .options .options .save .log-popup {
    opacity: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.control-box .options .options .watch .log-popup .log-popup-inner,
.control-box .options .options .save .log-popup .log-popup-inner {
    border-radius: 5px;
    background-color: var(--footer-background-color);
    color: var(--main-color-hover);
}*/

/* ---Info--- */

/*.info .latest-episode .episode .episode-cover {
    width: 225px;
    height: 125px;
    background-color: red;
}*/

.info .tabs {
    border-bottom: 2px solid var(--main-color);
}

.info .tabs .tablink {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: white;
    transition: 0.2s;
}

.info .tabs .tablink:hover {
    color: var(--main-color);
}

.info .tabs .active {
    color: var(--main-color);
}

.info .cast,
.info .crew {
    display: none;
}

.info .seasons .season {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.info .seasons .season img {
    width: 75px;
    border-radius: 10px;
    margin-right: 2em;
}

.info .seasons .season .title h4,
.info .seasons .season .title p {
    color: white;
    transition: 0.2s;
}

.info .seasons .season .title h4:hover {
    color: var(--main-color);
}

.info .cast span,
.info .crew span {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    border-radius: 2.5px;
    padding: 0 5px;
    margin-right: 0.5em;
    width: fit-content;
    font-size: 0.8rem;
    transition: 0.2s;
}

.info .cast span:hover,
.info .crew span:hover {
    background-color: var(--main-color-darker);
}